# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python bytecode & cache
**/__pycache__/
*.pyc
*.pyo
*.pyd
**/.ipynb_checkpoints/

# Virtual Environment lokal
venv/
.venv/
env/
**/venv/
**/.venv/

# MLOps Artifacts & Tracking Data 
**/mlruns/
**/artifacts/
**/outputs/

# Dataset & Model lokal 
**/data/**/*.csv
**/data/**/*.npy
**/*.pkl

# Environment variables & Secrets
.env
**/.env

# Docker logs & system junk
*.log
**/*.log
.DS_Store
**/.DS_Store
=======
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
